<%- include("top_navbar.ejs") %>
<br><br><br><br>
<body class="bg-background">



<section class="">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
      <div class="mx-auto max-w-screen-sm text-center">
        <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-white dark:text-primary-500">ARE YOU SUPPOSED TO BE</h1>
        <div>
          <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-white dark:text-primary-500 z-50"> HERE?</h1>  
        </div>
        <img src="https://c.tenor.com/CytSiBKu_a4AAAAd/tenor.gif" class="relative mx-auto z-0 w-[40px] top-[-70px] lg:w-[70px] lg:top-[-110px]">
      </div>   
  </div>
</section>
</body>












<%- include("bottom_navbar.ejs") %>