<%- include("top_navbar.ejs") %>

<body class="bg-background mt-20">
    <div class="text-xl">
        <div class="border-b border-gray-700 bg-primary px-4 py-5 mb-8 sm:px-6 rounded-lg">
            <div class="flex items-center justify-center">
                <div class="mt-2">
                    <h3 class="text-2xl font-semibold leading-6 text-secondary text-center">Edit Function</h3>
                </div>
            </div>
        </div>
        <div class="flex flex-col bg-primary text-accent p-4 gap-6">
            <div>Device: _____</div>
            <hr class="border-2 border-secondary">
            <div>Status: _____</div>
            <hr class="border-2 border-secondary">
            <div class="flex justify-between">
                <div class="">
                    <div>Start Time:</div>
                    <div>
                        <input type="time"
                            class="mt-1 block w-full px-3 py-2 border border-gray-500 rounded-md shadow-sm 
                            focus:outline-none focus:ring focus:ring-secondary sm:text-sm text-black">
                    </div>
                </div>
                <div>
                    <div>End Time:</div>
                    <div>
                        <input type="time"
                            class="mt-1 block w-full px-3 py-2 border border-gray-500 rounded-md shadow-sm 
                            focus:outline-none focus:ring focus:ring-secondary sm:text-sm text-black">
                    </div>
                </div>
            </div>
            <div>
                <label class="block text-sm font-medium text-secondary">Select Date</label>
                <div class="flex justify-between justify-center mx-auto mt-2 overflow-scroll gap-1">
                    <button id="mon"
                        class="date-button px-3 py-1 rounded-full border border-gray-500 focus:outline-none focus:ring focus:ring-secondary">Mon</button>
                    <button id="tue"
                        class="date-button px-3 py-1 rounded-full border border-gray-500 focus:outline-none focus:ring focus:ring-secondary">Tue</button>
                    <button id="wed"
                        class="date-button px-3 py-1 rounded-full border border-gray-500 focus:outline-none focus:ring focus:ring-secondary">Wed</button>
                    <button id="thu"
                        class="date-button px-3 py-1 rounded-full border border-gray-500 focus:outline-none focus:ring focus:ring-secondary">Thu</button>
                    <button id="fri"
                        class="date-button px-3 py-1 rounded-full border border-gray-500 focus:outline-none focus:ring focus:ring-secondary">Fri</button>
                    <button id="sat"
                        class="date-button px-3 py-1 rounded-full border border-gray-500 focus:outline-none focus:ring focus:ring-secondary">Sat</button>
                    <button id="sun"
                        class="date-button px-3 py-1 rounded-full border border-gray-500 focus:outline-none focus:ring focus:ring-secondary">Sun</button>
                </div>
            </div>
            <hr class="border-2 border-secondary"> 
            <!-- Functions Content -->
            <div class="flex flex-col gap-4">
                <div class="mb-4 text-3xl">Functions</div>
                <div>
                    <p class="mb-2">Function 1</p>
                    <%- include("sliderInput.ejs") %>
                </div>
                <div>
                    <p class="mb-2">Function 2</p>
                    <label for="toggle1" class="flex items-center cursor-pointer">
                        <div class="relative">
                            <input id="toggle1" type="checkbox" class="sr-only">
                            <div class="block bg-gray-600 w-10 h-6 rounded-full"></div>
                            <div class="dot absolute left-1 top-1 bg-white w-4 h-4 rounded-full transition"></div>
                        </div>
                    </label>
                </div>
                <div>

                </div>
            </div>
        </div>
    </div>

</body>

<%- include("bottom_navbar.ejs") %>