<%- include("top_navbar.ejs") %>

<br><br><br><br>

<body class="bg-background">

  <!-- 404 template section found on https://flowbite.com/blocks/marketing/404/ and changed-->
  <section class="">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center">
            <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-white dark:text-primary-500">YOU FOUND IT!</h1>
            <video class="mx-auto" width="200" autoplay loop>
              <source src="https://media.tenor.com/3xZ9yK_Z80AAAAPo/fck-ejygjug.mp4" type="video/mp4">
              Your browser does not support HTML video.
            </video>
        </div>   
    </div>
</section>

<%- include("bottom_navbar.ejs") %>