<div class="my-8 p-8 space-y-4 text-center">
    <div class="text-2xl ml-4">Sign up</div>
    <form action="/signUp" method="post" class="space-y-4 p-4 flex flex-col items-center">
        <label class="block">Email</label>
        <input type="text" placeholder="email" name="email" class="flex rounded-md ring-1 p-2"/>
        <label class="block">Username</label>
        <input type="text" placeholder="username" name="username" class="flex rounded-md ring-1 p-2"/>
        <label class="block">Password</label>
        <input type="password" placeholder="password" name="password" class="flex rounded-md ring-1 p-2"/>
        <input type="submit" class="bg-blue-500 px-4 py-2 rounded-lg text-white"/>
    </form>
</div>